.form {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    > * {
        margin: $m-size;
    }
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;

}

.edit-form {
    margin-top: -6rem;
}

.buttons-div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.picker-div {
    padding-left: 10px;
    margin-top: -35px;
}

.form-bar {
    background-color: $off-white;;
    display: flex;
    max-width: 80rem;
    border: 1px solid #cacccd;
    border-top: none;
    position: relative;
    top: -33px;
    height: 60px;
}