.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}

.select {
   @extend .text-input;
   

}

.textarea {
    @extend .text-input;
    height: 10rem;
    resize: none;
}

.text-title {
    @extend .text-input;
    width: 665px;
}

.text-button-flex {
    display: flex;
    justify-content: space-between;
}