.item-bar {
    display: flex;
    
}

.list-item__remove {
    color: $grey;
    font-size: $font-size-small;
    font-style: italic;
    text-decoration: none;
    margin-right: $s-size;
}

.item-button {
    background-color: darken($off-white, 7%);
   border: none;

    padding: 5px 7px;
    border-radius: 10px;
    transition:  background .3s ease;
    &:hover {
        background: $off-white;
    }
}
