.list-header {
    margin-top: 10px;
    display: flex;
    padding: $s-size $m-size;
    color: #20B2AA;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}

.list-item__header {
    display: flex;

}

.list-body {
    margin-bottom: $m-size;
    padding: 0 30px 30px 30px;
    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item {
    display: flex;
    border: 1px solid darken($off-white, 7%);
    color: $dark-grey;
    padding: $s-size;
    text-decoration: none;
    margin-bottom:15px;
    background: white;
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
        align-items: center;
    }
}

.list-item--message {
    align-items: center;
    justify-content: center;
    color: $grey;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    padding-left: 10px;
}

.list-item__sub-title {
    color: $grey;
    font-size: 13px;
    padding-left: 10px;
    margin-top: -2px;
}

.no-decoration {
    text-decoration: none;
}

.list-item__date {
    @extend .list-item__sub-title;
    margin-top: -13px;
}

.list-item__data {
    margin: $s-size 0 0 0;
    padding-bottom: $s-size;
    font-weight: 200;
    white-space: pre-line;
    @media (min-width: $desktop-breakpoint) {
        margin: 0;
    }
    
}

.list-image {
    max-width: 100%;
    max-height: 100%;
}

.portrait {
    height: 50px;
    width: 60px;
}

.bloggle-user-info {
    display: flex;
}

.bloggle-comment{
    display:flex;
}