.page-header {
    padding: $l-size 0;
}

.page-header__title {
    margin: 0;
    font-weight: 300;
    span {
        font-weight: 700;
    }
}

.page-header__actions {
    margin-top: $m-size;
    
}

.page-header__sub-title {
    font-weight:500;
    
    span {
        font-weight: 700;
        margin-left: .5rem;
    }
}