.settings {
    padding-top: 90px;
    display:flex;
    flex-direction: column;
}

.text-setting {
    width: 630px;
    border-radius: 10px;
    border: 1px solid #cacccd;
    height: 50px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
    margin-right: 20px;

    @media (max-width: $desktop-breakpoint) {
        width: unset;
    }
}

.margin-top {
    margin-top: $s-size;
}